html {
  background: steelblue;
}

#graph-stable {
    margin-top: 25px;
    text-align: center;
}

#graph-canvas {
    height: 500px;
    padding: 0;
}

#graph-data p {
    font-size: 10pt;
    font-family: monospace;
}

.btn {
    margin-right: 20px;
}

.form-group:first-of-type {
    margin-top: 15px;
}