html {
  background: steelblue;
}

.content-holder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 50px;
}

.btn {
    margin-right: 20px;
}

.form-group:first-of-type {
    margin-top: 15px;
}

@media screen and (max-width: 767px) {

    .content-holder {
        padding-right: 19px;
    }

}